.topic{
    background-color: rgb(188, 109, 127);
    width: 300px;
    height: 50px;
}







.five{
 
    margin-left: 1100px;
   display: -ms-inline-flexbox;
   
}

.paragraph{
    margin-left: 1000px;
    
}

.talke ysl{
    margin-left: 3500px;
}

.tv{
    margin-top: 100px;
}

.five img{
    margin-left: 25%;
    width: 200px;
}

.divv img{
    width: 300px;
    height: 200px;
    margin-left: 15%;
}


.divv{
    margin-bottom: 550px;
    
}




.tv img{
    width: 350px;
}


.girls img{
    width: 400px;
}

.girls{
    margin-top: 2px;
}

.ysl{
    margin-left: 550px;
}

.ysl img{
    width: 350px;
}